* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*manter as medidas*/
    font-family: inherit;
    color: #000;
    font-size: inherit;
}

body {
    min-height: 100vh;
    /* tamanho mínimo da tela do usuário */
    margin: 0;
    display: flex;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}


.content {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    height: 300px;
}

.content h1 {
    font-family: 'Palette Mosaic', cursive;
    font-size: 200%;
    margin: 20px;
    letter-spacing: -2px;
    cursor: text;
    align-self: center;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

form input {
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    width: 80%;
    background-color: #fffafaa1;
    padding: 0 6px;
    color: #000;
}

form input:focus {
    background-color: white;
}

::placeholder {
    color: rgb(0, 0, 0);
}


.formButton {
    width: 10%;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    background-color: #fffafaa1;
}

.formButton:hover {
    background-color: rgb(127 195 103);
}

.date {
    align-self: flex-end;
    margin: 30px;
}

.geometric {
    z-index: -1;
}

.geometric img {
    position: absolute;
}

.i1 {
    top: 7vh;
    left: 17vw;
    transform: rotate(130deg);
    width: 12%;
}

.i2 {
    top: 26vh;
    left: 84vw;
    transform: rotate(130deg);
    width: 8%;
}

.i3 {
    top: 93vh;
    left: 5vw;
    transform: rotate(74deg);
    width: 12%;
}

.i4 {
    top: 0vh;
    left: 86vw;
    transform: rotate(130deg);
    width: 9%;
}

.i5 {
    top: 62vh;
    left: 55vw;
    transform: rotate(85deg);
    width: 10%;
}

.i6 {
    top: -1vh;
    left: 3vw;
    transform: rotate(130deg);
    width: 8%;

}

.i7 {
    top: 85vh;
    left:72vw;
    transform: rotate(196deg);
    width: 12%;
}

.i8 {

    top: 53vh;
    left: 3vw;
    transform: rotate(130deg);
    width: 15%;

}

.i9 {
    top: 45vh;
    left: 26vw;
    transform: rotate(130deg);
    width: 20%;
}

.i10 {
    top: 114vh;
    left: 37vw;
    transform: rotate(262deg);
    width: 12%;
}

.i11 {
    top: 5vh;
    left: 52vw;
    transform: rotate(313deg);
    width: 15%;
}

.i12 {
    top: 132vh;
    left: 13vw;
    transform: rotate(130deg);
    width: 12%;
}

.i13 {
    top: 132vh;
    left: 83vw;
    transform: rotate(173deg);
    width: 12%;
}

.list{
    margin-top: 30px;
    align-self: flex-start;
    margin-left: 65px;
}

.item{
    margin: 15px;
    /* display: flex;
    flex-direction: row;
    align-items: center; */

}

.item p{
    font-size: 140%;
    width: fit-content;
    height: fit-content;
    display: inline;    
}

.btnItem{
    margin-left: 30px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;
}

.btnItem:nth-child(3){
    margin-left: 10px;
    font-size: 20px;
}


.done{
    text-decoration: line-through;
}




@media screen and (max-width: 600px) {
    .geometric img {
        max-width: 15%;
        margin: 10%;
    }

    .content {
        width: 80%;
    }

    .formButton {
        width: 16%;
    }

}